body{
    box-sizing: border-box;
    background-image: url(/Images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    margin: 0%;
    padding: 3rem 5rem;
}

button:hover{
    background-color: violet;
    color: white;
    box-shadow: 5rem black;
}

.icon-link:hover{
    color: violet;
}

.Logo{
    width: 132px;
    height: 32.665px;
}

.container{
    display: flex;
    gap: 3rem;
}

.interface-graphics{
    width: 567.2px;
    height: 404.8px;
}
.text{
    margin-top: 4.5rem;
    padding: 0%;
}
.Brand-Logo{
    margin-bottom: 3rem;
}

.text-title, .text-body{
    color: white;
    text-align: justify;
    float: none;
    width: 100%;
   
}

.text-body{
    margin: 0.5rem 0%;
    font-family: open sans;
    font-weight: 300;
    
}
.text-title{
    font-family: poppins, sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    
    
}

.register-button{
    color: hsl(257, 40%, 49%);
    margin-top: 0.5rem;
    border: none;
    padding: 0.8rem 2.4rem;
    border-radius: 4rem;
}

.icon{
    display: flex;
    align-items: last baseline;
    gap: 1rem;
    color: white;
    border: 2rem;
    border-radius: 4rem;
    margin-top: 5rem;
    padding-top: 5rem;
    margin-right: 500px;
     
}

.icon-link{
    color: white;
}



